* text=auto eol=lf

# Ignore everything.
/* export-ignore

# Export white-listed production code only.
/src            -export-ignore
/composer.json  -export-ignore
/composer.lock  -export-ignore
/LICENSE        -export-ignore
/README.md      -export-ignore
